node_modules
/.vs/ikushdev.github.io/CopilotIndices/17.14.786.1071
/.vs/ikushdev.github.io/FileContentIndex
/.vs/ikushdev.github.io/v17/.wsuo
/.vs/ikushdev.github.io/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
